<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acasa</title>>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <% if (userType === 'beneficiar') { %>
        <h1>Bun venit, beneficiar!</h1>
    <% } else { %>
        <p>Acces restricționat. Trebuie să fii beneficiar pentru a accesa această pagină.</p>
    <% } %>
    <p>Token: <%= token %></p>
</body>
</html>
